<template name="item2">

    <!--<div class="post-content">-->
        <tr>
            {{#if test}}
            <td><a href="{{pathFor 'itemEdit2'}}">Edit item</a></td>
            {{/if}}
            <td>{{_id}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{verified}}</td>
            <td>{{profile.name}}</td>
            <td>{{profile.surname}}</td>
            <td>{{profile.address}}</td>
            <td>{{profile.bank}}</td>
            <td>{{profile.IBAN}}</td>
            <td>{{profile.ccy.eur}}</td>
            <td>{{profile.ccy.usd}}</td>
            <td>{{profile.ccy.gbp}}</td>
            <td>{{profile.ccy.czk}}</td>
        </tr>

   <!-- </div>-->

</template>
