<template name="itemEdit2">

    <form class="main">

        <!--iterate over doc fields-->
        {{#each keys}}
            {{> keyField2}}
        {{/each}}

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Update" class="btn btn-primary submit"/>
            </div>
        </div>
        <hr/>
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-danger delete" href="#">Delete post</a>
            </div>
        </div>
    </form>

</template>

<template name="keyField2">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="{{index}}">{{index}}</label>
            <div class="controls">
                <input name="{{index}}" type="text" value="{{value}}" placeholder="No data"/>
            </div>
        </div>
    </form>
</template>