<template name="users">
    <div class="rows">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>_id</th>
                    <th>username</th>
                    <th>email</th>
                    <th>verified</th>
                    <th>profile.name</th>
                    <th>profile.surname</th>
                    <th>profile.address</th>
                    <th>profile.bank</th>
                    <th>profile.IBAN</th>
                    <th>profile.ccy.eur</th>
                    <th>profile.ccy.usd</th>
                    <th>profile.ccy.gbp</th>
                    <th>profile.ccy.czk</th>
                </tr>
                </thead>
                <tbody>
                {{#each documents}}
                    {{> item2}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

        <!--{{#if nextPath}} //TODO : loader
        <a class="load-more" href="{{nextPath}}">Load more</a>
        {{/if}}-->

</template>