<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{pathFor 'home'}}">Hevon App</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="{{activeRouteClass 'postSubmit'}}">
                        <a href="{{pathFor 'postSubmit'}}">TEST Table 1</a>
                    </li>
                    <li class="{{activeRouteClass 'documentList'}}">
                        <a href="{{pathFor 'documentList'}}">TEST Table 2</a>
                    </li>
                    <li class="{{activeRouteClass 'transactions'}}">
                        <a href="{{pathFor 'transactions'}}">Transactions</a>
                    </li>
                    <li class="{{activeRouteClass 'users'}}">
                        <a href="{{pathFor 'users'}}">Users</a>
                    </li>

                    {{#if currentUser}}
                    <li class="{{activeRouteClass 'postSubmit'}}">
                        <a href="{{pathFor 'postSubmit'}}">Secure Submit</a>
                    </li>
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                    {{/if}}
                    <ul class="nav pull-right">
                        <li>{{> loginButtons}}</li>
                    </ul>
                </ul>

            </div>
        </div>
    </header>
</template>