<template name="item">

    <!--<div class="post-content">-->
        <tr>
            {{#if test}}
            <td><a href="{{pathFor 'itemEdit'}}">Edit item</a></td>
            {{/if}}
            <td>{{_id}}</td>
            <td>{{ccy_from}}</td>
            <td>{{ccy_to}}</td>
            <td>{{fee}}</td>
            <td>{{date_creation}}</td>
            <td>{{idUser}}</td>
            <td>{{midmarket_displayed}}</td>
            <td>{{platform_from}}</td>
            <td>{{todo}}</td>
            <td>{{validated}}</td>
            <td>{{conversion.midmarket}}</td>
            <td>{{conversion.platform}}</td>
            <td>{{conversion.date_max}}</td>
            <td>{{conversion.date}}</td>
        </tr>

   <!-- </div>-->

</template>
