<template name="transactions">
    <div class="rows">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>_id</th>
                    <th>ccy_from</th>
                    <th>ccy_to</th>
                    <th>fee</th>
                    <th>date_creation</th>
                    <th>idUser</th>
                    <th>midmarket_displayed</th>
                    <th>platform_from</th>
                    <th>status</th>
                    <th>validated</th>
                    <th>conversion.midmarket</th>
                    <th>conversion.platform</th>
                    <th>conversion.date_max</th>
                    <th>conversion.date</th>
                </tr>
                </thead>
                <tbody>
                {{#each documents}}
                    {{> item}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

        <!--{{#if nextPath}} //TODO : loader
        <a class="load-more" href="{{nextPath}}">Load more</a>
        {{/if}}-->

</template>