<template name="layout">
    <div class="container">
        {{> header}}

        <div id="main" class="row-fluid">
            Home - Use menu bar to access features
            {{> yield}}
            <!--{{> test}}-->
        </div>
    </div>
</template>