<template name="documentList">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>idUser</th>
                    <th>ccy_from</th>
                </tr>
                </thead>
                <tbody>
                {{#each documents}}
                    {{>xeditable2}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</template>

<template name="document">
    <!--<p>Title: {{>xeditable titleOptions}}</p>-->
    {{>xeditable2}}
</template>