<template name="item22">
    <tr>
        <td>{{_id}}</td>
        <td>{{username}}</td>
        <th>{{emails.address}}</th><!--KO-->
        <th>{{profile.bank}}</th>
        <th>{{profile.IBAN}}</th>
        <th>{{profile.ccy.eur}}</th> <!--CAREFULL : Case sensitive-->
        <th>{{profile.ccy.usd}}</th>
        <th>{{profile.ccy.gbp}}</th>
        <th>{{profile.ccy.czk}}</th>

    </tr>

</template>