<template name="postSubmit">


    <div class="page-header">
        <h1>DB Users</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Bank</th>
                    <th>IBAN</th>
                    <th>EUR</th>
                    <th>USD</th>
                    <th>GBP</th>
                    <th>CZK</th>
                </tr>
                </thead>
                <tbody>
                    {{>rows}}
                </tbody>
            </table>
        </div>
    </div>

    <form class="main">
        <div class="control-group">
            <label class="control-label" for="username">URL</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="username"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" value="" placeholder="Name your post"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="message">Message</label>
            <div class="controls">
                <textarea name="message" type="text" value=""></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>