<template name="rows">


    {{#each rowsList}}
        {{>item22}}
    {{/each}}
</template>

        <!--

        {{#each userRows}}
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
    {{/each}}


    --------
        {{#each userRows}}
        {{>item}}
    {{/each}}

        -->