<template name="test">
    Bonjour


    <!--#### ephemer:reactive-datatables TEST
    {{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject }}
-->

    <!--#### natestrauser:x-editable-bootstrap TEST -->

    <p id="textArea" class="editable" data-type="textarea" data-placeholder="Enter text" data-emptytext="Click to enter text" data-rows="4">
        {{textAreaContent}}
    </p>



</template>

<!-- once off for your entire project -->
<template name="xedit">
    {{> UI.contentBlock}}
</template>

<!-- per instance -->
<template name="userInfo">
    {{#xedit value=profile.name}}<a>{{profile.name}}</a>{{/xedit}}
</template>