<template name="xeditable">
    <span class="xeditable">{{value}}</span>
    <span class="xeditable">{{value2}}</span>
</template>


<template name="xeditable2">
    <tr>
        <td>{{_id}}</td>
        <td>{{idUser}}</td>
        <th><span class="xeditable">{{ccy_from}}</span></th>
    </tr>

</template>